html {
    background: #fff;
}
body {
    min-height: 100vh;
    margin: 0 25%;
    padding: 1rem;
    background: #eee;
}

.demo {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;    
}

/* Button Module */
.button {
    display: inline-block;
    margin: 1rem 0;
    border: 1px solid #878787;
    padding: 0.456rem;
    line-height: 1;
    background: #eaeaea;
    color: #333;
}

/* 상태 디자인
 * 기본(link)
 * 방문(visited)
 * 마우스 오버(hover)
 * 클릭(active)
 * 포커스(focus)
 * 비활성화(deactive)
 */
a.button:link {}
a.button:visted {}
a.button:hover {
    background: #676767;
    color: #eee;
}
a.button:focus {
    outline: 3px solid #111;
    outline-offset: 3px;
}
a.button:active {
    background: #ff0;
    color: #222;
}


.button.round {
    border-radius: 0.25rem;
}

.button.primary {
    background: #2cb4f3;
    color: #fff;
}

.button.warning {
    background: #f32c64;
    color: #fff;
}

a.button {
    text-decoration: none;
}